<div>
  <div class="heading"><h5 class="card-title">{{ indicator.name }}</h5></div>
  <div class="card cursor-pointer" style="width: 90%; margin-top: 10px;margin-bottom: 10px;" routerLink="/indicator/info/{{indicator.id}}">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <label>Type</label> <br>
            {{ getIndicatorType(indicator.indicatorType)}}
          </li>
      <li class="list-group-item">
        <label>Numerator</label> <br>
        {{ indicator.numeratorDescription}}
      </li>
      <li class="list-group-item">
        <label>Denominator</label> <br>
        {{ indicator.denominatorDescription}}
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-6">
              <label>Created by:</label> <br>{{indicator.user.name}}
          </div>
          <div class="col-6">
              <label>Created on:</label> <br>{{indicator.lastUpdated | date}}
          </div>
        </div>
      </li>
    </ul>
    <div class="card-body">
      <a routerLink="indicator/info/{{indicator.id}}" class="info-link">More info</a>
      <a routerLink="/indicator/analysis/{{indicator.id}}" class="analysis-link">Analysis</a>
    </div>
  </div>
</div>