
<div class="card-body" *ngIf="indicator">
  <h4 class="card-title" style="min-height: 60px">{{ indicator.name }}</h4>
  <div class="list-group">
    <!--type-->
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Type</h5>
      </div>
      <small class="mb-1">{{ indicator.indicatorType.name || "No Name" }}</small>
    </a>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Numerator</h5>
      </div>
      <small class="mb-1">{{ indicator.numeratorDescription || "No Description" }}</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Denominator</h5>
      </div>
      <small class="mb-1">{{ indicator.denominatorDescription || "No Description" }}</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Created By</h5>
      </div>
      <small class="mb-1" *ngIf="indicator.user">{{ indicator.user.name || "None"}}</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Created On <small class="text-muted">{{ indicator.lastUpdated | date }}</small></h5>
      </div>

    </a>
  </div>
</div>
