<div *ngIf="indicator" class="card">
  <div class="card-header">
      <h5>Introduction</h5>
  </div>
  <div class="card-body indicator-description">
    <p class="indicator-definition">
      <strong>{{ indicator.name }}</strong>
       is 
       <strong>{{ indicator.indicatorType.name}}</strong>
        indicator,
        with numerator described as 
        <strong>{{indicator.numeratorDescription}}</strong>
        <span *ngIf="indicator.indicatorType.name != 'Number'"> and denominator described as
        <strong>{{indicator.denominatorDescription}}</strong>
      </span>
    </p>
    <p class="numerator">
      Numerator is calculated from 
      <strong></strong>
    </p>
    <p class="numerator">
      Denominator is 
      <span *ngIf="indicator.indicatorType.name == 'Number'">
        <strong>{{indicator.denominator}}</strong>
      </span>
    </p>
    <p *ngIf="indicator.indicatorGroups.length > 0">
      The indicator belongs to <a style="text-decoration: none" routerLink="/indicatorGroup/{{indicator.indicatorGroups[0]['id']}}">{{indicator.indicatorGroups[0].name}} indicators</a> 
      with other {{indicator.indicatorGroups[0].indicators}} indicators
    </p>
    <p>
      Created on <strong>{{indicator.created | date}}</strong>
      by <strong>{{indicator.user.name}}</strong>
    </p>
    <p *ngIf="indicator.lastUpdatedBy">
        Last updated on <strong>{{indicator.lastUpdated | date}}</strong>
        by <strong>{{indicator.lastUpdatedBy.name}}</strong>
        
    </p>
  </div>
</div>
