
.home-btn {
    border: solid 1px #2C6695; 
}

.indicator-details {
    /* border: solid 1px #dad9d9; */
    padding: 10px;
}

a {
    text-decoration: none;
    outline: none !important; margin-right: 4px;
}

.btn {
    outline: none !important;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #dad9d9;
    padding: .375rem .5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s 
}

.btn:focus, a:focus {
    outline: none !important;
    border: none;
}

.header {
    border-bottom: solid 1px #dad9d9; padding: 5px;
}

.active-type-of-action {
    background-color: #dad9d9;
}

.details-container {
    margin-top: 20px; padding: 5px;
}
