<!--The content below is only a placeholder and can be replaced.-->
<dhis-menu></dhis-menu>
<div class="container-fluid" style="margin-top: 60px">
  <div class="row">
    <div class="col-md-3" style="padding-top: 5px">
      <span class="lead" > <i class="fa fa-search"></i> Indicator Search</span>
    </div>
    <div class="col-md-6">
     <input class="form-control" placeholder="Search By Name..." [(ngModel)]="queryterm">
    </div>
    <div class="col-md-3">
      <button class="btn btn-outline-secondary cursor pull-right" (click)="displayPerTree()">
        <i class="fa fa-list"></i> Indicator Groups Filter
        <span class="badge badge-secondary" *ngIf="groupToFilter.length != 0"> {{ groupToFilter.length }}</span>
        <a
          class="removeGroups"
          title="Remove all"
          *ngIf="groupToFilter.length != 0"
          (click)="groupToFilter = []"
        > <i class="fa fa-remove"></i> </a>

      </button>
      <div class="tree-view" [ngClass]="{'hiddenTree':hideGroups}">
        <ul class="nav nav-pills flex-column">
          <li *ngFor="let item of indicatorGroups"
              (click)="addGroupFilter(item)"
              class="period cursor"
              title="Click to select"
              [ngClass]="{ 'selectedGroup': inGroupToFilter(item.id)}"
          >
            <i class="fa fa-check-circle-o text-success" *ngIf="inGroupToFilter(item.id)"></i>
              {{ item.name }}

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-top: 20px">

  <div [@hiddenItem] = "loading?'notHidden':'hidden'" style="margin-bottom: 10px">
    <h5 class="text-center"><img src="assets/img/balls-5.svg" style="height: 70px"/>
      Loading Indicators {{ loadedIndicators }}/ {{ totalIndicators || 0}}( {{ completePercent | number: '1.0-0' }}% )
    </h5>
    <div class="progress" style="margin-bottom: 5px">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
        [attr.aria-valuenow]="completePercent"
        [attr.aria-valuemin]="0"
        [attr.aria-valuemax]="100"
        [style.width]="(completePercent)+'%'"
      ></div>
    </div>
  </div>

  <p  *ngIf="completePercent == 100" class="text-center lead" style="margin-bottom: 5px; margin-top: 5px">
    {{ (indicators | filterByName: queryterm | filterGroups: groupToFilter ).length || 0 }} Indicators
    <span *ngIf="queryterm"> Matching {{queryterm}} </span>
    <span *ngIf="groupToFilter.length !== 0"> - In {{ groupNames() }} </span>
  </p>

  <p
    *ngIf="completePercent == 100 && (indicators | filterByName: queryterm | filterGroups: groupToFilter ).length == 0"
    class="text-center lead" style="margin-bottom: 5px; margin-top: 100px">
    <span class="lead"> No Indicators</span>
  </p>

  <div class="card-deck">
    <div
      class="card col-sm-12 col-md-4"
      *ngFor="let indicator of indicators | filterByName: queryterm  | filterGroups: groupToFilter | paginate: config "
      (click) ="mouseEnter(indicator)"
      [@hoverChanged]="indicator.hoverState || 'notHovered'"
      (mouseenter) ="indicator.hoverState = 'hoovered'"
      (mouseleave) ="indicator.hoverState = 'notHovered'"
    >
      <app-indicator [indicator]="indicator"></app-indicator>
      <div class="card-footer text-center" style="background-color: inherit">
        <button
          class="btn btn-outline-secondary cursor"
          style="margin-bottom: 15px;width: 50%;align-self: center;">
          <i class="fa fa-lightbulb-o"></i> More
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="ourmodel"
       [@visibilityChanged]="hoverState || 'notHovered'"
  >
    <p><a class="btn btn-light btn-sm pull-right" (click)="mouseLeave()"><i class="fa fa-close"></i> </a></p>
    <app-details [selectedIndicator]="selectedIndicator"></app-details>
  </div>
</div>

<div class="row justify-content-center" style="margin-top: 25px">
  <pagination-template #nm="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
    <nav aria-label="Page navigation example">
      <ul class="pagination ">
        <li class="page-item" [class.disabled]="nm.isFirstPage()">
          <a class="page-link" style="cursor: pointer" (click)="nm.previous()" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"
            *ngFor="let page of nm.pages"
            [class.active]="nm.getCurrent() === page.value"
        ><a class="page-link" style="cursor: pointer" (click)="nm.setCurrent(page.value)">
          {{ page.label }}
        </a></li>
        <li class="page-item" [class.disabled]="nm.isLastPage()">
          <a class="page-link" style="cursor: pointer" (click)="nm.next()" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </pagination-template>
</div>



