.dictionary-block {
  /* overflow: auto; */
}

#copied-message {
  display: none;
  margin-left: 15px;
  margin-bottom: -15px;
  font-size: 0.7rem;
  color: #325e80;
}

.selected-group-btn {
  border-bottom: solid 2px green;
  font-weight: 600;
}

@media print {
  .no-print {
    display: none !important;
  }
}
