<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 style="font-size: 35px; margin-top: 55px; margin-bottom: 10px; text-align: left;">Indicator dictionary</h1>
      <!-- <p>Let indicators tell you a story</p> -->
      <div class="dictionary-block">
        <ngx-dhis2-dictionary-list 
        [metadataIdentifiers]="metadataIdentifiers" 
        [selectedItem]="selectedItem"
        (dictionaryItemId)="dictionaryItemId($event)"></ngx-dhis2-dictionary-list>
      </div>
    </div>
  </div>
</div>